.sapMSegB.vsdSetting {
	margin-bottom: 1rem;
}

.backgroundImage {
	background-image:  url("/webapp/resources/campo2.jpg");
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center;

}

.title {
	background-image: url("/webapp/resources/logo-De-cecco2.png");
	background-repeat: no-repeat;
    background-position: right top;
    background-origin: content-box;

}